.two-col-grid{
    grid-template-areas: 
    "SIDE MAIN MAIN"
    "SIDE MAIN MAIN"
    "SIDE MAIN MAIN";
}

.header-two-col-grid{
    grid-template-areas: 
        "HEADER HEARD HEADER"
        "SIDE MAIN MAIN"
        "SIDE MAIN MAIN"
        "FOOTER FOOTER FOOTER"
    ;
}

.g-header{
    grid-area: HEADER;
}