.btn-s {
    border-radius: 11px;
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.419);
    cursor: pointer;
    padding: 2px, 5rem;
    width: 100px;
    text-align: center;
    color: black;
}

.btn-s-primary {
    background-color: darkgrey;
}